@import "styles/spectate";

// Uncomment the following line before publishing a News story
 @import "styles/news-ellipsis";
.prescrolly-fade-in {
    color: black;
    margin: 10vh auto 20vh;
    padding: 20px;
    background: hsla(0,0%,100%,.9);
    box-shadow:0 2px 5px 0 #e4e4e4;
    font-family: $georgia;
    font-size: 22px;
    font-weight:400;
    line-height: 30px;
    width: calc(100% - 40px);
    max-width: 460px;
  }
.video-step{
    background: hsla(0,0%,100%,.9);
    box-shadow:0 2px 5px 0 #e4e4e4;
    margin: 10vh auto 0vh;
    padding-bottom:0vh;
}
.video-step:nth-child(3){
    margin-top:20vh;
}
#bar{
    margin-top:30vh;
    margin-bottom:30vh;
}
.graphic-embed{

    z-index:-2;
    width:100%;
}
.video-step img{
    margin-top:50vh;
}
.video-step:nth-last-child(2){
    margin-top:-90vh;
    margin-bottom:75vh;
}
.video-step:last-child{
    margin-top:30vh;
    margin-bottom:30vh;
}
#illo{
    display:block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
  @media (max-width: 600px) {
    .step-deck > div {
      margin-left: auto;
      margin-right: auto;
    }
    .video-step:nth-last-child(2){
        margin-top:-70vh;
        margin-bottom:75vh;
    }
    .video-step:last-child{
        margin-top:30vh;
        margin-bottom:40vh;
    }
  }
